{% extends "main/base.html" %}

{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'main/main.css' %}">
    {% block title %}{% endblock %}
</head>

{% load crispy_forms_tags %}
{% block content %}
    <h1 class="mt-2">Welcome to login</h1>
    <hr class="mt-0 mb-4">
    <form method="post" class="form-group">
        {% csrf_token %}
        {{form|crispy}}
        <button type="submit" class="btn btn-success">Login</button>
    </form>
    <div class="border-top  pt-3">
        <small class="text-muted">Don't have an account? Create one<a class="ml-2" href="/register">here</a></small>
    </div>
        
        
    
{% endblock %}